

<h1>Nicholas Paul Ruiz Dallas</h1>

<h3><u>Learn about who I am!<u></h3>

<p>This is a little bio about me!</p>

<p>My Favorite things I like To Do:
    <ol>
        
       <li> Sports</li>
        <li>Food</li>
        <li>Beach</li>
       <li> Coaching </li>
       <li> Walking the dog </li>
       
    </ol>
</p>

