<h1>Nicholas Paul Ruiz Dallas</h1>

<h3><u>Learn about who I am!<u></h3>

<p>This is a little bio about me!</p>

<p>My Favorite things I like:
    <ol>
        Sports
        Food
        Beach
        Coaching
        Walking the dog
    </ol>
</p>